/* Bootstrap Resets */
html, body {
	height: 100%
}
body {
	background-color: #ffffff;
	background-color: rgba(0,0,0,0);
	font-family: Calibri, Helvetica, Arial, sans-serif;
}

#skip {
	display:none;
}
.container-fluid {
	margin:0 auto;
	max-width:800px;
	padding:0;
}

.hero-unit {
	background-color: rgba (0,0,0,.3);
	margin: 10px;
	padding:10px;
}

#top-navbar {
	background-color:rgba(255,255,255,1);
	height:60px;
	padding:10px 0 0;
}
#nav {
	list-style: none;
	margin-top:5px;
}
#nav li {
	float:left;
	margin-left:10px;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	box-shadow: none;
}

.navbar .nav > li > a {
background-color: #000000;
  background-color:rgba(0,0,0,0);
  color: #ff3333;
  color: rgba(255, 0, 0, 1);
  float: none;
  font-weight: bold;
  margin-top: 3px;
  padding: 5px 10px;
  text-decoration: none;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  /*background-color: rgba(291,74,56,1);*/
  border-bottom: 3px solid #ff3333;
  border-bottom:3px solid rgba(255, 0, 0, .8);
  border-radius: 0;
  color: rgba(255,0,0,.8);
  /*color: rgba(255,255,255,.9);*/
  text-decoration: none;
}
.navbar .nav > li > a.btn-primary {
	background-color: rgba(93, 170, 82, .85);
	color: rgba(255,255,255,1);
}
.navbar .nav > li > a.btn-primary:hover {
	background-color: rgba(93, 170, 82, 1);
}

.navbar .nav > li {
  float: left;
  margin-left: 10px;
}

.navbar-fixed-top {
  top: 35px;
}
.navbar .brand {
  color: #008CD2;
  display: block;
  float: left;
  font-size: 16px;
  margin-bottom:10px;
  margin-left: -20px;
  padding: 0;
}

.btn {
	background-color:rgba(0,0,0,.1);
	box-shadow: none;
	padding: 7px 14px;
}

a.btn {
	border:none;
}
.btn-primary {
	background-color: rgba(0,0,0,.8);
	color: rgba(255,255,255,1);
}

.navbar .btn, .navbar .btn-group {
	margin-top: 3px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
	color:#ffffff;
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,.3);
}



.banner {
	background-color: #ff3333;
	background-color:rgba(255, 51, 51, 1);
	border-top:3px solid #C92626;
	border-top:3px solid rgba(201, 38, 38, 1);
	color: #ffffff;
	color: rgba(255, 255, 255, 1);
	margin-bottom:20px;
	padding:20px 0;
}

.trainer {
	margin-top: 10px;
}

@media (max-width: 767px) {
	body {
		padding:0;
	}
	.container-fluid {
		padding: 0 10px;
	}
}