<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Gettysburg Youth Soccer Club</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/gbys.css" rel="stylesheet">
	
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
</head>

<body>
<div id="skip"><a href="#content">Skip to Main Content</a></div> 
<div id="top-navbar" class="navbar">
	<div class="container-fluid">
		<a href="/" class="brand"><img alt="GBYS" src="/img/logo-gbys.jpg" /></a>
		<ul id="nav" class="nav pull-right">
			<li><a href="/">Home</a></li>
			<li><a href="/club-info">Club Info</a></li>
			<li><a href="/teams">Teams</a></li>
			<li><a href="/trainers">Trainers</a></li>
			<li><a href="/tryouts">Tryouts</a></li>
			<li><a href="/tournaments">Tournaments</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
</div>