{% include header.html %}
<div class="banner">
	<div class="container-fluid">
		<div class="row-fluid">
			<h1>{{ page.title }}</h1>
		</div>
	</div>
</div>
<div id="content">
	<div class="container-fluid" id="home">
		<div class="row-fluid">
			<div class="span7">
				{{ content }}
			</div>
			<div class="span5">
				for loop is back
				<ul>
					<li>tada</li>
					<li>another one</li>
					<li>as;dlfkjas;df</li>
				</ul>
				<ol>
					<li>one</li>
					<li>two</li>
					<li>three</li>
				</ol>
			</div>
		</div>
	</div>
</div>
{% include footer.html %}